<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reminder</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="home in" style="width:100%">
  <img src=/image/icon.png alt="Reminder Image" class="icon">
  <div class="container" style="height:200px">
    <p class="logo">Reminder</p>
    <div class="btn">
      <button onclick="document.querySelector('.home').classList.toggle('out'); setTimeout(()=>{location.href='/mail/create'}, 1000)" class="btn1">일정 생성</button>
      <button onclick="document.querySelector('.home').classList.toggle('out'); setTimeout(()=>{location.href='/mail/list'}, 1000)" class="btn1">일정 리스트</button>
    </div>
  </div>
</div>
<script>
  setTimeout(()=>{
  document.querySelector('.home').classList.toggle('in')
  },1)
</script>
</body>
</html>
