<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reminder</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="container">
  <h1>기념일 알림 페이지</h1>
  <button onclick="location.href='/mail/create'">기념일 생성</button>
  <button onclick="location.href='/mail/list'">기념일 리스트</button>
</div>
</body>
</html>
