<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reminder</title>
</head>
<body>
  <h1>기념일 리스트</h1>
  <table>
    <tr>
      <th>제목</th>
      <th>이메일</th>
      <th>날짜</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    <tr th:each="mail : ${mails}">
      <td th:text="${mail.title}"></td>
      <td th:text="${mail.sendTo}"></td>
      <td th:text="${mail.date}"></td>
      <td>
        <form th:action="@{/mail/update/{id} (id = ${mail.id})}" method="get">
          <button type="submit"> 수정 </button>
        </form>
      </td>
      <td>
        <form th:action="@{/mail/delete/{id}(id=${mail.id})}" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" onclick="if (!confirm('이 기념일을 삭제하시겠습니까?')) return false;">삭제</button>
        </form>
      </td>
    </tr>
  </table>
  <button onclick="location.href='/'">홈으로 이동</button>
</body>
</html>