<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reminder - 기념일 리스트</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="container">
  <h1>기념일 리스트</h1>

  <div th:if="${#lists.isEmpty(mails)}">
    <p>아직 등록된 기념일이 없습니다! 새로운 기념일을 추가해보세요.</p>
  </div>

  <table th:if="${!#lists.isEmpty(mails)}">
    <tr>
      <th>제목</th>
      <th>이메일</th>
      <th>날짜</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    <tr th:each="mail : ${mails}">
      <td th:text="${mail.title}"></td>
      <td th:text="${mail.sendTo}"></td>
      <td th:text="${mail.date}"></td>
      <td>
        <form th:action="@{/mail/update/{id} (id = ${mail.id})}" method="get">
          <button type="submit">수정</button>
        </form>
      </td>
      <td>
        <form th:action="@{/mail/delete/{id}(id=${mail.id})}" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" onclick="if (!confirm('이 기념일을 삭제하시겠습니까?')) return false;">삭제</button>
        </form>
      </td>
    </tr>
  </table>

  <button onclick="location.href='/'">홈으로 이동</button>
  <button onclick="location.href='/mail/create'">기념일 생성</button>
</div>
</body>
</html>
